# 9월 20일 점프투 파이썬 2장

#02-1 숫자형

숫자 형태로 이루어진 자료형 
-정수형 실수형 8진수 16진수

#02-2 문자열 자료형

문자열 만드는 방법 1." " 2.' ' 3.""" """  4.''' '''

이스케이프 코드 ＼n, ＼t,＼＼,＼',＼"

#문자열 연산하기

1)문자열 더해서 연결하기

In [11]:
head = "Python"

In [12]:
tail = " is fun!"

In [13]:
head + tail

'Python is fun!'

2)문자열 곱하기

In [16]:
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

#문자열 인덱싱과 슬라이싱

인덱싱이란  무엇인가를 "가르킨다"     슬라이싱이란 무엇인가를 "잘라낸다"

In [18]:
a="Life is too short, you need python "

In [19]:
a[3]

'e'

In [20]:
a[0]

'L'

In [22]:
a[12]   #12번째라는것은 띄어쓰기도 포함한 순서이다!

's'

In [23]:
a[0:4] #문자열 슬라이싱

'Life'

In [24]:
a[19:]

'you need python '

#문자열 포멧팅 따라하기

In [25]:
"I ate %d apples" %3

'I ate 3 apples'

In [27]:
"I ate %s apples" %"five"

'I ate five apples'

In [28]:
number = 3

In [29]:
"I ate %d apples" %number

'I ate 3 apples'

문자열 포맷코드 %s 문자열(string)  포맷 코드는 어떠한 형태라도 대입가능!!

#포맷 코드와 숫자함께 사용하기

1)정렬과 공백

In [32]:
"%10s"%"hi"          #전체 길이가 10개인 공간에서 hi를 오른쪽 정렬한후 그 앞의 나머지는 공백

'        hi'

In [34]:
"%-10s"%"hi"        # 위의 반대

'hi        '

2) 소숫점 표현하기

In [36]:
"%0.4f" %3.4213412 # 소수점 자리수가 4자리 까지만표현

'3.4213'

In [37]:
"%10.4f" %3.4213412 # 10개인 문자열 공간에서 4자리 까지만

'    3.4213'

#문자열 관련 함수들

자체적으로 가지고 있는 함수, 내장 함수, 문자열 변수이름 뒤에 ''를 붙인 다음에 함수 이름을 써주면됨!

In [38]:
a= "hobby"

In [40]:
a.count('b')       # count 문자수 세기

2

In [42]:
a.find('o')       # find 위치 알려주기

1

In [43]:
a= "Python is best language"

In [44]:
a.index('i')    # index 위치 알려주기2

7

In [46]:
a.index('w')    # 문장안에 없는 글자가 있을때 find는 -1 index는 오류가 뜬다는것이 차이점!!

ValueError: substring not found

In [49]:
a=","

In [50]:
a.join('abcd')  #join 문자열 삽입

'a,b,c,d'

In [51]:
# 소문자를 대문자로 upper  대문자를 소문자로 lower

In [52]:
# 공백지우기 strip (lstrip -> 왼쪽 공백)  (rstrip -> 오른쪽 공백)  (양쪽공백 -> strip)

In [53]:
a = "Life is too short"

In [56]:
a.replace("Life","Your leg")    # replace 문자열 바꾸기

'Your leg is too short'

In [57]:
a.split()                     #split 문자열 나누기

['Life', 'is', 'too', 'short']

#고급열 문자 포매팅

In [1]:
"I eat {0} apples".format(3)  #숫자 바로 대입하기

'I eat 3 apples'

In [3]:
"I eat {0} apples".format("five") #문자열 바로 대입하기

'I eat five apples'

In [5]:
"I eat {number} apples. so i was sick for {day} days".format(number=10,day=3)  #이름으로 넣기

'I eat 10 apples. so i was sick for 3 days'

In [6]:
"I eat {0} apples. so i was sick for {day} days".format(10,day=3)      #인덱스와 이름 혼용해서 넣기

'I eat 10 apples. so i was sick for 3 days'

In [1]:
"{0:<10}".format("hi")     #왼쪽 정렬  :<10 문자열 왼쪽정렬 총자릿수 10

'hi        '

In [2]:
"{0:>10}".format("hi")    #오른쪽 정렬

'        hi'

In [3]:
"{0:^10}".format("hi")    #가운데 정렬 :^ 가운데 정렬

'    hi    '

In [4]:
"{0:=^10}".format("hi")   #공백 채우기

'====hi===='

In [5]:
y = 3.42134234

In [6]:
"{0:0.4f}".format(y)      #소수점 format 함수

'3.4213'

In [7]:
"{{ and }}".format()     #format 함수를 이용해 {나}와 같은 중괄호 표현

'{ and }'

#02-3 리스트자료형

In [9]:
#리스트란 무엇인가! 문자나 숫자열을 함께 요소값으로 가질수 있는것 
#리스트= [요소1,요소2,요소3...]

In [10]:
a=[1,2,3]

In [11]:
a

[1, 2, 3]

In [12]:
a[0]          #리스트 a의 첫번째 요소값

1

In [13]:
# 조금 어려운 삼중리스트 해보기

In [16]:
a=[1,2,['a','b',['Life','is']]]

In [17]:
a[2][2][0]    #Life 라는 문자열만 끄집어내기위해선 a라는 리스트안에 세번째 요소 리스트중 세번째 리스트의 첫번째 요소를 나타낸다.

'Life'

In [18]:
#리스트 슬라이싱

In [19]:
a=[1,2,3,4,5]

In [20]:
a[0:2]

[1, 2]

In [21]:
#중첩된 리스트에서 슬라이싱하기

In [22]:
a=[1,2,3,['a','b','c'],4,5]

In [23]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [24]:
#리스트 연산자

In [26]:
a = [1,2,3]

In [27]:
b = [4,5,6]

In [28]:
a+b                #리스트 더하기

[1, 2, 3, 4, 5, 6]

In [29]:
a*3               #리스트 반복하기

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
#리스트의 수정,변경과 삭제

In [8]:
a = [1,2,3]

In [9]:
a[2] = 4

In [10]:
a         #리스트에서 하나의 값 수정하기

[1, 2, 4]

In [11]:
a [1:2]  #리스트에서 연속된 범위의 값 수정하기

[2]

In [12]:
a[1:2] = ['a','b','c']

In [13]:
a

[1, 'a', 'b', 'c', 4]

In [15]:
a[1:3] = []

In [17]:
a          # []사용해 리스트 요소 삭제하기

[1, 'c', 4]

In [18]:
a          # del 함수 사용해 리스트 요소 삭제하기

[1, 'c', 4]

In [19]:
del a[1]

In [20]:
a

[1, 4]

In [21]:
# del a[x]는 x번째 요소값을삭제한다. del a[x:y] x번째 부터 y번째 요소 사이값을 삭제한다

In [22]:
#리스트 관련 함수들  (조금 어렵거나 중요하다고 생각하는것 뽑음)

In [23]:
#index(x) 함수는 리스트에 x라는 값이 있으면 x 의 위치값을 리턴한다.

In [24]:
a=  [1,2,3]

In [25]:
a.index(1)            # 리스트안에 1이라는 요소가  0순서에 위치한다는것!

0

In [26]:
a.index(3)           # 리스트안에 3이라는 요소가 2순서에 위치한다는것!

2

In [27]:
# 리스트 요소 끄집어내기 (pop)

In [28]:
# pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제하는 함수이다.

In [29]:
a = [1,2,3]

In [30]:
a.pop()    #맨마지막 요소인 3을 주었다

3

In [31]:
a         # 그리고 그 요소는 사라졌다...

[1, 2]

In [32]:
#리스트에 요소 삽입(insert)

In [33]:
#insert(a,b)는 리스트의 a번째 위치에 b를 삽입하는 함수이다!

In [34]:
a = [1,2,3]

In [35]:
a.insert(0,4)  #0번째 위치에 4를 삽입

In [36]:
a             # 실제로 0번째에 4가 리스트에 들어갔다!!!

[4, 1, 2, 3]

#02-4 튜플 자료형

#튜플은 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.
#튜플은 (과 )으로 둘러싼다.
#리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다

In [1]:
#ex> t1=(1,) t2=('a','b',('a','b')) t3=1,2,3,4

In [2]:
#주의 !한개의 요소일때는 , 를 반드시 붙여줘야 한다!!! 그렇지만 두개 이상일경우 괄호생략 가능하다는 점!!

In [1]:
t1=(1,2,'a','b')

In [2]:
del t1[0]        # 튜플 요소 값 삭제시 오류

TypeError: 'tuple' object doesn't support item deletion

In [3]:
t1[0] = 'c'     #튜플 요소값 변경시 오류

TypeError: 'tuple' object does not support item assignment

In [4]:
# 튜플의 인덱싱과 슬라이싱, 더하기와 곱하기

In [7]:
t1 = (1,2,'a','b')   #튜플의 인덱싱

In [6]:
t1[0]

1

In [8]:
t1 = (1,2,'a','b')  # 튜플의 슬라이싱

In [9]:
t1[1:]

(2, 'a', 'b')

In [10]:
t2 = (3,4)      #튜플 더하기

In [11]:
t1 +t2

(1, 2, 'a', 'b', 3, 4)

In [12]:
t2 * 3          #튜플 곱하기

(3, 4, 3, 4, 3, 4)

#02-5 딕셔너리 자료형

"key를 통해 value 를 얻는다"

{Key1:Vlaue,Key2:Value2,Key3:Value3}

Key: 변하지 않는 값  Value: 변하는 값 변하지 않는값 모두 사용가능!!

In [15]:
dic = {'name':'pey','phone':'0119993323','birth':'1030'}

In [16]:
# 딕셔너리 쌍 추가, 삭제하기

In [11]:
a = {1:'a'}

In [12]:
a[2] = 'b'

In [13]:
a                # 딕셔너리 a에 Key와 Value가  각각 2와 'b'인 2:'b' 라는 딕셔러니 쌍이 추가된다!

{1: 'a', 2: 'b'}

In [14]:
a['name'] = 'pey'  #딕셔러니 a에 'name':'pey'라는 쌍이 추가되었다.

In [15]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [16]:
del a[1]        # 딕셔러니 요소 삭제하기

In [17]:
a

{2: 'b', 'name': 'pey'}

In [1]:
#딕셔러니에서 Key를 사용해 Value 얻기

In [2]:
grade = {'pey':10,'julliet':99}

In [3]:
grade['pey']

10

In [4]:
grade['julliet']

99

In [5]:
#주의사항

In [6]:
a = {1:'a',1:'b'}  # Key 값이 2개 존재할 경우 어떤 나머지 하나의 것은 무시된다!

In [7]:
a

{1: 'b'}

In [9]:
a = {[1,2] : 'hi'} # Key에는 리스트는 쓸 수 없다는 것이다!!!

TypeError: unhashable type: 'list'

In [1]:
#딕셔너리 관련 함수들

In [6]:
a = {'name':'pey','phone':'0113860388','birth':'0130'}  #Key 리스트 만들기(keys)

In [5]:
a.keys()

dict_keys(['phone', 'name', 'birth'])

a.keys()는 딕셔너리 a의 key만 모아서 dict_keys라는 객체를 리턴한다.

In [9]:
for k in a.keys(): print(k)

phone
name
birth

In [11]:
list(a.keys())  #dict_keys 객체를 리스트로 변환하려면 다음과 같이 하면 된다.

['phone', 'name', 'birth']

In [12]:
a. values()    # Value 만 얻고싶다면 a.values() 사용.

dict_values(['0113860388', 'pey', '0130'])

In [14]:
a.items()     #Key,Value 쌍얻기(items): items 함수는 key와 value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다!

dict_items([('phone', '0113860388'), ('name', 'pey'), ('birth', '0130')])

In [17]:
a.clear()     #Key:Value 쌍 모두 지우기(clear)

In [16]:
a

{}

In [21]:
a = {'name':'pey','phone':'0103800888','birth':'0130'} #Key로 Value 얻기(get)

In [19]:
a.get('name')

'pey'

In [20]:
a.get('phone')

'0103800888'

In [22]:
# get(x) 함수는 x라는 key에 대응되는 value를 돌려준다. a.get('name')은 a['name'] 과 동일한 결과값

In [25]:
a.get('foo','bar') #key 값이 없을 경우 미리 정해둔 디포르 값을 대신 가져오게 해준다. get(x,'디폴트')

'bar'

In [26]:
'name' in a   #해당 key가 딕셔너리 안에 있는지 조사하기(in)

True

In [27]:
'email' in a

False

#02-6 집합자료형

In [29]:
s1 = set([1,2,3])

In [30]:
s1

{1, 2, 3}

In [31]:
s2 = set('hello')

In [32]:
s2                 #문자열

{'e', 'h', 'l', 'o'}

In [33]:
# 집합 자료형의 특징

1.중복을 허용하지않는다. 
2.순서가 없다.

In [34]:
s1 = set([1,2,3])

In [35]:
l1 = list(s1)

In [36]:
l1

[1, 2, 3]

In [38]:
l1[0]

1

In [39]:
t1 = tuple(s1)

In [40]:
t1

(1, 2, 3)

In [41]:
# 집합자료형 활용하는 방법

In [47]:
s1 = set([1,2,3,4,5,6])

In [48]:
s2 = set([4,5,6,7,8,9])

In [49]:
s1 & s2    #교집합

{4, 5, 6}

In [51]:
s1.intersection(s2) #intersection 함수

{4, 5, 6}

In [52]:
s1 | s2             #합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [53]:
s1.union(s2)        #union 함수

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [54]:
s1 - s2            #차집합

{1, 2, 3}

In [55]:
s1.difference(s2)

{1, 2, 3}

In [56]:
#집합 자료형 관련 함수들

In [59]:
s1 =set([1,2,3])    #값 1개 추가하기 (add)

In [60]:
s1.add(4)

In [61]:
s1

{1, 2, 3, 4}

In [62]:
s1.update([4,5,6])  # 값 여러개 추가하기

In [63]:
s1

{1, 2, 3, 4, 5, 6}

In [64]:
s1.remove(2)       #특정값 제거하기

In [65]:
s1

{1, 3, 4, 5, 6}

#02-7 자료형의 참과 거짓

참: 'jinsoo' [1,2,3]

거짓: [],(),{},none

[] 비어있는 리스티이기에 거짓이다

In [74]:
if []:
    print("True")
else: 
    print("False")

False

#02-8 자료형의 값을 저장하는 공간, 변수

In [75]:
#변수명 = 변수에 저장할값

In [76]:
#변수 : 객체, 파이썬에서 사용되는 모든 것

In [77]:
a = 3   #a는 변수의 이름이며 3이라는 정수형 객체가 저장된 메모리 위치를 가리키게 된다. 
        #즉 a는 객체가 저장된 메모리의 위치를 가리키는 레퍼런스.

In [78]:
a= 3

In [79]:
b = 3

In [80]:
a is b   # 3이라는 객체를 가리키고 있는 변수의 개수는 2개. 레퍼런스카운트가 2개

True

In [81]:
# 메모리에 생성된 변수 없애기 -> del()

In [82]:
# 리스트를 변수에 넣고 복사하고자 할 때

In [83]:
a = [1,2,3]   # 1.[:] a리스트값을 바꾸더라도 b리스트에는 영향없음

In [84]:
b = a[:]

In [85]:
a[1]=4

In [86]:
a

[1, 4, 3]

In [87]:
b

[1, 2, 3]

In [90]:
from copy import copy  #2.copy 함수

In [91]:
b = copy(a)  #같은 값을 가지면서 다른 객체를 형성했는가?

In [92]:
b

[1, 4, 3]

In [93]:
b is a      #b와 a는 서로 다른 객체이다

False